body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

.selector{
    padding: 8px;
    font-size: 12px;
}

.seleccionar-cliente{
padding: 10px;

}

.row{
    margin: 10px;
}

.btn{
    font-size: 12px;
    width: 80%;
    /* text-align: center; */
}

.table{
    font-size: 12px;
}

.tabla1{

 /* position: relative; */
 box-sizing: border-box;
 padding: 0;

}

footer{
    font-size: 12px;
    align-self: flex-end;
    background-color: orange;
    line-height: 3;
    text-align: center;
    width: 100%;
}

.collapsed{
    font-size: 15px;
}

.pago{
    margin-bottom: 15px;
    width: 93%;
    font-size: 15px;
    
}

.tabUsuario {
 width: 50%;

}

.tabDatos {
    width: 33.333%;
}

